html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  background: #E7E7E5;
  font-family: Roboto, sans-serif;
  color: #2e2e2e;
}

.help-text {
  font-size: 13px;
}

.label {
  font-size: 16px;
}

#app-wrapper {
  position: relative;
}

#app-wrapper-inner {
  position: relative;
  padding-top: 54px;
}

#login {
  padding-top: 60px;
}

.login-button {
  box-shadow: none !important;
}

.loading-indicator-wrapper {
  text-align: center;
  margin-top: 140px;
}

#navbar {
  background: #66954C;
  font-size: 20px;
  height: 54px;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-back-button {
  position: absolute !important;
  left: 0px !important;
  top: 3px !important;
}

.navbar-back-button span {
  color: #ffffff !important;
  font-size: 18px !important;
}

/*
 * navigation animations
 */
.transition-push-enter {
  position: absolute;
  left: 100%;
  top: 54px;
  transition: left .3s;
  width: 100%;
}

.transition-push-enter.transition-push-enter-active {
  left: 0px;
}

.transition-push-leave {
  position: absolute;
  transition: right .3s;
  right: 0px;
  top: 54px;
  width: 100%;
}

.transition-push-leave.transition-push-leave-active {
  right: 100%;
}

.transition-pop-enter {
  position: absolute;
  right: 100%;
  top: 54px;
  transition: right .3s;
  width: 100%;
}

.transition-pop-enter.transition-pop-enter-active {
  right: 0px;
}

.transition-pop-leave {
  position: absolute;
  transition: left .3s;
  left: 0px;
  top: 54px;
  width: 100%;
}

.transition-pop-leave.transition-pop-leave-active {
  left: 100%;
}

/*
 * Player Controls
 */

#player-container {
  position: relative;
  height: 50px;
  background: #D8D8D8;
}

#player-progress-bar {
  background-color: #C8C8C8;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

#player-controls {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

#player-timestamp {
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  left: 7px;
  bottom: 4px;
}

#player-buttons {
  text-align: center;
}
