
body {
  background: #D8D8D8;
  font-family: Roboto, sans-serif;
  color: #2e2e2e;
}

.help-text {
  font-size: 13px;
}

.label {
  font-size: 16px;
}

#app-wrapper {
  padding: 10px;
}

#login {
  padding-top: 60px;
}

.login-button {
  box-shadow: none !important;
}

.loading-indicator-wrapper {
  text-align: center;
  margin-top: 140px;
}