
body {
  display: flex;
}

#draggable-nav-bar {
  width: 100%;
  height: 35px;
  position: absolute;
  z-index: 100;
  -webkit-app-region: drag;
}

#app-wrapper {
  flex: 1;
  display: flex;
}

#app {
  flex: 1;
  display: flex;
}

#full-player-inner {
  flex: 1;
  background-color: #F2F2F2;
  // overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#app.full-player {
  padding-left: 188px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  &.log-in {
    padding-left: 0px;
  }

  #routes-wrapper {
    background-color: #F2F2F2;
    overflow-y: scroll;
  }

  #media-player-container {
    transition: 0.2s ease-in-out;
    height: 0px;
  }

  &.video-player #media-player-container {
    height: 400px;
  }

  #single-plan {
    position: relative;

    .navbar {
      background: #DCDEE0;
      height: 50px;
    }
  }

  #player-container {
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #D2D2D2;

    #player-time {
      flex: 1;
      display: flex;
      padding:  0px 12px;

      .timestamp {
        line-height: 60px;
        color: #535353;
        font-size: 13px;
      }

      #player-time-bar-container {
        flex: 1;
        position: relative;

        #player-time-bar-gray {
          background-color: #D8D8D8;
          position: relative;
          top: 50%;
          height: 4px;
          margin-top: -2px;
          border-radius: 2px;
          overflow: hidden;
        }

        #player-time-bar-blue {
          background-color: #5DBCE5;
          height: 4px;
        }
      }
    }

    #extra-controls {
      width: 100px;

      .icon {
        width: 100px;
      }
    }
  }

  #plan-items-container {
    padding-top: 0px !important;
  }

  #video-player {
    position: relative;
    background: #000000;

    div {
      width: 100% !important;
    }
  }

  #songs-list-container {
    padding-bottom: 61px !important;
  }
}

#side-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 188px;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(93, 188, 229, 0.5);
  -webkit-app-region: drag;

  a {
    display: block;
    padding: 16px;
    padding-left: 28px;
    color: #F3F3F3;
    text-decoration: none;
    font-size: 18px;
    -webkit-app-region: no-drag;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.07);
  }

  a.active {
    background: rgba(255, 255, 255, 0.15);
  }

  #account-link {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}
