html, body {
  margin: 0px;
  height: 100%;
  user-select: none;
}

* {
  font-family: 'Lato', sans-serif !important;
}

body {
  // background: #E7E7E5;
  color: #2e2e2e;
}

#app {
  position: relative;
}

.help-text {
  font-size: 13px;
}

.label {
  font-size: 16px;
}

.empty-data-message {
  text-align: center;
  margin-top: 100px;
}

#login {
  padding-bottom: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;

  .label {
    text-align: center;
  }

  .add-account-cancel-link {
    margin-top: 25px;
    font-size: 13px;
    text-decoration: none;
    color: #363636;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-button {
  box-shadow: none !important;
}

.loading-indicator-wrapper {
  text-align: center;
  margin-top: 100px;
}

#navbar {
  background: #66954C;
  font-size: 20px;
  height: 54px;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#navbar-back-button {
  position: absolute !important;
  left: 0px !important;
  top: 3px !important;
}

#navbar-back-button svg {
  color: #ffffff !important;
  height: 34px !important;
  width: 34px !important;
  position: relative;
  top: -5px;
  left: -5px;
}

#navbar-settings-button {
  position: absolute !important;
  right: 0px !important;
  top: 3px !important;
}

#navbar-settings-button svg {
  color: #ffffff !important;
  /*height: 34px !important;
  width: 34px !important;
  position: relative;
  top: -5px;
  left: -5px;*/
}

/*
 * Plans
 */

.plan-list-item {
  position: relative;

  .pc-link {
    position: absolute;
    right: 20px;
    bottom: 50%;
    height: 30px;
    margin-bottom: -15px;
    line-height: 30px;
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.541176);
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*
 * navigation animations
 */
.transition-push-enter {
  position: absolute;
  left: 100%;
  top: 54px;
  transition: left .3s;
  width: 100%;
}

.transition-push-enter.transition-push-enter-active {
  left: 0px;
}

.transition-push-leave {
  position: absolute;
  transition: right .3s;
  right: 0px;
  top: 54px;
  width: 100%;
}

.transition-push-leave.transition-push-leave-active {
  right: 100%;
}

.transition-pop-enter {
  position: absolute;
  right: 100%;
  top: 54px;
  transition: right .3s;
  width: 100%;
}

.transition-pop-enter.transition-pop-enter-active {
  right: 0px;
}

.transition-pop-leave {
  position: absolute;
  transition: left .3s;
  left: 0px;
  top: 54px;
  width: 100%;
}

.transition-pop-leave.transition-pop-leave-active {
  left: 100%;
}

/*
 * Player Controls
 */

#player-container {
  // position: fixed;
  z-index: 2;
  // width: 100%;
}

#player-container {
  height: 60px;
  background: #E6E6E6;
}

#player-progress-bar {
  background-color: #C8C8C8;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

#player-controls {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

#player-timestamp {
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  left: 7px;
  bottom: 4px;
}

#track-buttons {
  text-align: center;
  height: 100%;
  padding-top: 7px;
}

#player-container + #plan-items-container {
  padding-top: 60px !important;
}

/*
 * Settings
 */

#settings-container {
  padding: 20px 30px;
}
