
#app.mini-player {
  padding-top: 54px;

  #navbar {
    top: 0px;
  }

  #player-container {
    top: 54px;

    #player-container-inner {
      border-bottom: 1px solid #B4B4B4;
    }
  }

  #plan-items-container {
  }
}
